Class:ConstraintSetting
Method-name:create
Method-returnType:ConfiguredTarget
Method-parameters:[RuleContext ruleContext]
MethodInvocation:getLabel
MethodInvocation:get
MethodInvocation:attributes
MethodInvocation:validateDefaultConstraintValue
MethodInvocation:build
MethodInvocation:addNativeDeclaredProvider
MethodInvocation:addProvider
MethodInvocation:addProvider
MethodInvocation:addProvider
MethodInvocation:create
Method-name:validateDefaultConstraintValue
Method-returnType:void
Method-parameters:[RuleContext ruleContext, Label constraintSetting, @Nullable Label defaultConstraintValue]
MethodInvocation:equals
MethodInvocation:getPackageIdentifier
MethodInvocation:getPackageIdentifier
MethodInvocation:throwWithAttributeError
MethodInvocation:getSkyframeEnv
MethodInvocation:getAnalysisEnvironment
MethodInvocation:getValue
MethodInvocation:key
MethodInvocation:getPackageIdentifier
MethodInvocation:checkNotNull
MethodInvocation:getPackageIdentifier
MethodInvocation:getPackage
MethodInvocation:getTarget
MethodInvocation:getName
MethodInvocation:throwWithAttributeError
