Class:ConstraintSemantics
Method-name:ConstraintSemantics
Method-returnType:null
Method-parameters:[]
Method-name:getEnvironmentGroup
Method-returnType:EnvironmentGroup
Method-parameters:[Target envTarget]
MethodInvocation:equals
MethodInvocation:getRuleClass
MethodInvocation:getLabel
MethodInvocation:getTargets
MethodInvocation:getPackage
MethodInvocation:contains
MethodInvocation:getEnvironments
MethodInvocation:getLabel
MethodInvocation:getLabel
Method-name:addUnknownGroupsToCollection
Method-returnType:EnvironmentCollection
Method-parameters:[EnvironmentCollection environments, EnvironmentCollection toAdd]
MethodInvocation:putAll
MethodInvocation:getGroups
MethodInvocation:contains
MethodInvocation:getGroups
MethodInvocation:putAll
MethodInvocation:getEnvironments
MethodInvocation:build
Method-name:refineEnvironmentsForDep
Method-returnType:void
Method-parameters:[RuleContext ruleContext, EnvironmentCollection staticEnvironments, TransitiveInfoCollection dep, Map<Label,EnvironmentWithGroup> labelsToEnvironments, Set<EnvironmentWithGroup> refinedEnvironmentsSoFar, Set<EnvironmentLabels> groupsWithEnvironmentsRemoved, Map<Label,RemovedEnvironmentCulprit> removedEnvironmentCulprits]
MethodInvocation:getProvider
MethodInvocation:getUnsupportedEnvironments
MethodInvocation:getRefinedEnvironments
MethodInvocation:get
MethodInvocation:getDefaults
MethodInvocation:getRefinedEnvironments
MethodInvocation:add
MethodInvocation:put
MethodInvocation:environment
MethodInvocation:verifyNotNull
MethodInvocation:get
MethodInvocation:remove
MethodInvocation:add
MethodInvocation:group
MethodInvocation:put
MethodInvocation:environment
MethodInvocation:findOriginalRefiner
MethodInvocation:getLabel
MethodInvocation:add
MethodInvocation:environment
MethodInvocation:getGroupedEnvironments
MethodInvocation:getRefinedEnvironments
MethodInvocation:toList
MethodInvocation:getFulfillers
MethodInvocation:group
MethodInvocation:environment
MethodInvocation:contains
MethodInvocation:add
Method-name:getOverRefinementError
Method-returnType:String
Method-parameters:[Set<EnvironmentLabels> newlyEmptyGroups, Map<Label,RemovedEnvironmentCulprit> removedEnvironmentCulprits]
MethodInvocation:add
MethodInvocation:size
MethodInvocation:add
MethodInvocation:add
MethodInvocation:getLabel
MethodInvocation:getEnvironments
MethodInvocation:get
MethodInvocation:add
MethodInvocation:add
MethodInvocation:getMissingEnvironmentCulpritMessage
MethodInvocation:toString
Method-name:getMissingEnvironmentCulpritMessage
Method-returnType:String
Method-parameters:[Label environment, RemovedEnvironmentCulprit reason]
MethodInvocation:culprit
MethodInvocation:toString
MethodInvocation:add
MethodInvocation:add
MethodInvocation:add
MethodInvocation:add
MethodInvocation:getLabel
MethodInvocation:getLocation
MethodInvocation:selectedDepForCulprit
Method-name:findOriginalRefiner
Method-returnType:RemovedEnvironmentCulprit
Method-parameters:[RuleContext ruleContext, Label dep, SupportedEnvironmentsProvider depEnvironments, EnvironmentWithGroup envToPrune]
MethodInvocation:getRemovedEnvironmentCulprit
MethodInvocation:environment
MethodInvocation:create
MethodInvocation:of
MethodInvocation:getTarget
Method-name:getDefaults
Method-returnType:Collection<EnvironmentWithGroup>
Method-parameters:[Label env, EnvironmentCollection allEnvironments]
MethodInvocation:getGroups
MethodInvocation:contains
MethodInvocation:getDefaults
MethodInvocation:verifyNotNull
MethodInvocation:builder
MethodInvocation:getDefaults
MethodInvocation:add
MethodInvocation:create
MethodInvocation:build
Method-name:getUnsupportedEnvironments
Method-returnType:Collection<Label>
Method-parameters:[EnvironmentCollection actualEnvironments, EnvironmentCollection expectedEnvironments]
MethodInvocation:getEnvironments
MethodInvocation:getGroupedEnvironments
MethodInvocation:group
MethodInvocation:environment
MethodInvocation:contains
MethodInvocation:getGroups
MethodInvocation:contains
MethodInvocation:intersect
MethodInvocation:toList
MethodInvocation:getFulfillers
MethodInvocation:isDefault
MethodInvocation:intersect
MethodInvocation:toList
MethodInvocation:getFulfillers
MethodInvocation:getDefaults
MethodInvocation:add
MethodInvocation:getGroups
MethodInvocation:contains
MethodInvocation:getGroups
MethodInvocation:getDefaults
MethodInvocation:contains
MethodInvocation:intersect
MethodInvocation:toList
MethodInvocation:getFulfillers
MethodInvocation:add
Method-name:intersect
Method-returnType:boolean
Method-parameters:[Iterable<Label> labels1, Iterable<Label> labels2]
MethodInvocation:isEmpty
MethodInvocation:intersection
MethodInvocation:newHashSet
MethodInvocation:newHashSet
Method-name:getConstraintCheckedDependencies
Method-returnType:DepsToCheck
Method-parameters:[RuleContext ruleContext]
MethodInvocation:attributes
MethodInvocation:getAttributeNames
MethodInvocation:getAttributeDefinition
MethodInvocation:getLabelClass
MethodInvocation:getType
MethodInvocation:skipConstraintsOverride
MethodInvocation:checkConstraintsOverride
MethodInvocation:apply
MethodInvocation:getRule
MethodInvocation:isHost
MethodInvocation:getTransitionFactory
MethodInvocation:getDepsOnlyInSelects
MethodInvocation:getAttributeType
MethodInvocation:getPrerequisites
MethodInvocation:getGeneratingRule
MethodInvocation:getProvider
MethodInvocation:add
MethodInvocation:getOriginalLabel
MethodInvocation:getLabel
MethodInvocation:contains
MethodInvocation:add
MethodInvocation:contains
MethodInvocation:add
Method-name:getDepsOnlyInSelects
Method-returnType:Set<Label>
Method-parameters:[RuleContext ruleContext, String attr, Type<?> attrType]
MethodInvocation:getRule
MethodInvocation:isConfigurableAttribute
MethodInvocation:isLabelType
MethodInvocation:of
MethodInvocation:getRawAttributeValue
MethodInvocation:of
MethodInvocation:getSelectors
MethodInvocation:addSelectValuesToSet
MethodInvocation:isUnconditional
MethodInvocation:difference
Method-name:addSelectValuesToSet
Method-returnType:void
Method-parameters:[BuildType.Selector<?> select, final Set<Label> set]
MethodInvocation:getOriginalType
MethodInvocation:add
MethodInvocation:values
MethodInvocation:getEntries
MethodInvocation:visitLabels
Method-name:ruleError
Method-returnType:void
Method-parameters:[RuleContext ruleContext, String message]
MethodInvocation:ruleError
Method-name:attributeError
Method-returnType:void
Method-parameters:[RuleContext ruleContext, String attribute, String message]
MethodInvocation:attributeError
Method-name:getSupportedEnvironments
Method-returnType:EnvironmentCollection
Method-parameters:[RuleContext ruleContext]
MethodInvocation:validateAttributes
MethodInvocation:maybeGetRuleClassDefaults
MethodInvocation:validateEnvironmentSpecifications
MethodInvocation:getEnvironments
MethodInvocation:validateEnvironmentSpecifications
MethodInvocation:getEnvironments
MethodInvocation:addUnknownGroupsToCollection
MethodInvocation:getEnvironments
Method-name:maybeGetRuleClassDefaults
Method-returnType:EnvironmentCollector
Method-parameters:[RuleContext ruleContext]
MethodInvocation:getRule
MethodInvocation:isAttrDefined
MethodInvocation:isAttrDefined
Method-name:validateAttributes
Method-returnType:boolean
Method-parameters:[RuleContext ruleContext]
MethodInvocation:attributes
MethodInvocation:getPrerequisites
MethodInvocation:isEmpty
MethodInvocation:isAttributeValueExplicitlySpecified
MethodInvocation:attributeError
Method-name:checkConstraints
Method-returnType:void
Method-parameters:[RuleContext ruleContext, EnvironmentCollection staticEnvironments, EnvironmentCollection.Builder refinedEnvironments, Map<Label,RemovedEnvironmentCulprit> removedEnvironmentCulprits]
MethodInvocation:addAll
MethodInvocation:getGroupedEnvironments
MethodInvocation:getGroupedEnvironments
MethodInvocation:put
MethodInvocation:environment
MethodInvocation:getConstraintCheckedDependencies
MethodInvocation:allDeps
MethodInvocation:isSelectOnly
MethodInvocation:checkStaticConstraints
MethodInvocation:refineEnvironmentsForDep
MethodInvocation:checkRefinedConstraints
Method-name:checkStaticConstraints
Method-returnType:void
Method-parameters:[RuleContext ruleContext, EnvironmentCollection staticEnvironments, TransitiveInfoCollection dep]
MethodInvocation:getProvider
MethodInvocation:getUnsupportedEnvironments
MethodInvocation:getStaticEnvironments
MethodInvocation:isEmpty
MethodInvocation:ruleError
MethodInvocation:getLabel
MethodInvocation:size
MethodInvocation:join
MethodInvocation:on
Method-name:checkRefinedConstraints
Method-returnType:void
Method-parameters:[RuleContext ruleContext, Set<EnvironmentLabels> groupsWithEnvironmentsRemoved, Set<EnvironmentWithGroup> refinedEnvironmentsSoFar, EnvironmentCollection.Builder refinedEnvironments, Map<Label,RemovedEnvironmentCulprit> removedEnvironmentCulprits]
MethodInvocation:put
MethodInvocation:group
MethodInvocation:environment
MethodInvocation:add
MethodInvocation:group
MethodInvocation:isEmpty
MethodInvocation:of
MethodInvocation:difference
MethodInvocation:isEmpty
MethodInvocation:ruleError
MethodInvocation:getOverRefinementError
Method-name:getDefaults
Method-returnType:Collection<Label>
Method-parameters:[EnvironmentLabels group]
Class:GroupDefaultsProvider
Method-name:getDefaults
Method-returnType:Collection<Label>
Method-parameters:[EnvironmentLabels group]
MethodInvocation:getDefaults
Class:RuleClassDefaultsProvider
Field:ruleClassDefaults
Field:groupDefaults
Method-name:RuleClassDefaultsProvider
Method-returnType:null
Method-parameters:[EnvironmentCollection ruleClassDefaults]
FieldAccess:ruleClassDefaults
FieldAccess:groupDefaults
Method-name:getDefaults
Method-returnType:Collection<Label>
Method-parameters:[EnvironmentLabels group]
MethodInvocation:contains
MethodInvocation:getGroups
MethodInvocation:getEnvironments
MethodInvocation:getDefaults
Class:EnvironmentLookupException
Method-name:EnvironmentLookupException
Method-returnType:null
Method-parameters:[String message]
Class:DepsToCheck
Field:allDeps
Field:selectOnlyDeps
Method-name:DepsToCheck
Method-returnType:null
Method-parameters:[Set<TransitiveInfoCollection> depsToCheck, Set<TransitiveInfoCollection> selectOnlyDeps]
FieldAccess:allDeps
FieldAccess:selectOnlyDeps
Method-name:allDeps
Method-returnType:Set<TransitiveInfoCollection>
Method-parameters:[]
Method-name:isSelectOnly
Method-returnType:boolean
Method-parameters:[TransitiveInfoCollection dep]
MethodInvocation:contains
Class:EnvironmentCollector
Field:ruleContext
Field:restrictionAttr
Field:compatibilityAttr
Field:defaultsProvider
Field:restrictionEnvironments
Field:compatibilityEnvironments
Field:supportedEnvironments
Method-name:EnvironmentCollector
Method-returnType:null
Method-parameters:[RuleContext ruleContext, String restrictionAttr, String compatibilityAttr, DefaultsProvider defaultsProvider]
FieldAccess:ruleContext
FieldAccess:restrictionAttr
FieldAccess:compatibilityAttr
FieldAccess:defaultsProvider
MethodInvocation:collectRestrictionEnvironments
MethodInvocation:collectCompatibilityEnvironments
MethodInvocation:build
Method-name:getEnvironments
Method-returnType:EnvironmentCollection
Method-parameters:[]
Method-name:validateEnvironmentSpecifications
Method-returnType:boolean
Method-parameters:[]
MethodInvocation:getGroups
MethodInvocation:getGroups
MethodInvocation:contains
MethodInvocation:next
MethodInvocation:iterator
MethodInvocation:getEnvironments
MethodInvocation:next
MethodInvocation:iterator
MethodInvocation:getEnvironments
MethodInvocation:equals
MethodInvocation:attributeError
MethodInvocation:attributeError
Method-name:collectRestrictionEnvironments
Method-returnType:EnvironmentCollection
Method-parameters:[EnvironmentCollection.Builder supportedEnvironments]
MethodInvocation:collectEnvironments
Method-name:collectCompatibilityEnvironments
Method-returnType:EnvironmentCollection
Method-parameters:[EnvironmentCollection.Builder supportedEnvironments]
MethodInvocation:collectEnvironments
MethodInvocation:getGroups
MethodInvocation:putAll
MethodInvocation:getDefaults
Method-name:collectEnvironments
Method-returnType:EnvironmentCollection
Method-parameters:[String attrName, EnvironmentCollection.Builder supportedEnvironments]
MethodInvocation:isAttrDefined
MethodInvocation:getRule
MethodInvocation:getPrerequisites
MethodInvocation:resolveEnvironment
MethodInvocation:put
MethodInvocation:group
MethodInvocation:environment
MethodInvocation:put
MethodInvocation:group
MethodInvocation:environment
MethodInvocation:build
Method-name:resolveEnvironment
Method-returnType:EnvironmentWithGroup
Method-parameters:[TransitiveInfoCollection envRule]
MethodInvocation:checkNotNull
MethodInvocation:getProvider
MethodInvocation:getOnlyElement
MethodInvocation:getGroupedEnvironments
MethodInvocation:getStaticEnvironments
